body {
    background-color: #0e1117;
    color: #c9d1d9;
}

.wy-nav-side {
    background: #161b22;
}

.wy-nav-content {
    background: #0e1117;
}

a {
    color: #58a6ff;
}

.highlight {
    background: #161b22;
}